

{% load replaceurl %} <!--テンプレートタグのロード-->
<h1>comments</h1>

<!--ログインユーザとゲストユーザで表示変更-->
{% if user.is_authenticated %}<!--ログインユーザの場合-->
<div class="h2">Welcome {{ user.username }}</div><!--ユーザ名を表示-->
<a href="{% url 'logout' %}" class="btn btn-primary">logout</a><!--ログアウトボタン-->
{% else %}<!--ゲストユーザの場合-->
<a href="{% url 'login' %}" class="btn btn-primary">login</a><!--ログインボタン-->
<a href="{% url 'signup' %}" class="btn btn-primary">Signup</a><!--サインアップボタン-->
{% endif %}


<!--検索フォーム-->
<form class="mt-2" id="search-form" action="" method="GET">
    <div>
        <label class="label mr-4">公開・非公開</label>
        {{ search_form.is_public }}
        <label class="label mr-4">作成者</label>
        {{ search_form.create_user }}
      </div>
      <button class="btn btn-info ml-4" type="submit">検索</button>
</form>

<!--一覧表-->
<ul>
{% for comment in object_list %}
    <li>
        {{ comment.date }} - {{ comment.title }} - {{ comment.create_user}}- {{ comment.get_is_public_display}}
        {% if user.is_authenticated %}<!--ログインしているか-->
        {% if user.username == comment.create_user.username %}<!--自分のデータのときに編集・削除ボタン表示-->
        <a href="{% url 'update' comment.pk %}">編集</a> 
        <a href="{% url 'delete' comment.pk %}">削除</a> 
        {% endif %}
        {% endif %}
        <a href="{% url 'detail' comment.pk %}">詳細</a> 
    </li>
{% empty %}
    <li>データがありません</li>
{% endfor %}

<!--データ登録ボタン-->
<a href="{% url 'create' %}">登録ページ</a>

<!--ページングボタン-->
<div class="pagination">
    <span class="step-links">
        <!--前のページに戻る-->
        {% if page_obj.has_previous %}
            <!--テンプレートタグでページングにより検索条件が消えないようにURLを変更-->
            <a href="?{% url_replace request 'page' 1 %}">« 最初のページ</a>
            <a href="?{% url_replace request 'page' page_obj.previous_page_number %}">前のページ</a>
        {% endif %}
        <!--現在のページ／全体のページ-->
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        <!--次のページに進む-->
        {% if page_obj.has_next %}
            <a href="?{% url_replace request 'page' page_obj.next_page_number %}">次のページ</a>
            <a href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">最後のページ »</a>
        {% endif %}
    </span>
</div>