

{% load replaceurl %} <!--テンプレートタグのロード-->
<h1>commentアプリ</h1>

<!--ログインユーザとゲストユーザで表示変更-->
{% if user.is_authenticated %}<!--ログインユーザの場合-->
<h2>
    <div class="h2">{{ user.username }}としてログイン<!--ユーザ名を表示-->
    <a href="{% url 'logout' %}" class="btn btn-primary">logout</a><!--ログアウトボタン-->
    </div>
</h2>
{% else %}<!--ゲストユーザの場合-->
<h2>
    <div class="h2">ゲストユーザとしてログイン<!--ユーザ名を表示-->
    <a href="{% url 'login' %}" class="btn btn-primary">login</a><!--ログインボタン-->
    <a href="{% url 'signup' %}" class="btn btn-primary">Signup</a><!--サインアップボタン-->
</div>
</h2>

{% endif %}


<!--検索フォーム-->
<form class="mt-2" id="search-form" action="" method="GET">
    <div>
        <label class="label mr-4">公開設定</label>
        {{ search_form.is_public }}
        <label class="label mr-4">作成者</label>
        {{ search_form.create_user }}
        <button class="btn btn-info ml-4" type="submit">検索</button>
      </div>
      
</form>

<!--一覧表-->
<table table border="1" style="border-collapse: collapse">
    <tr>
      <th>日付</th>
      <th>タイトル</th>
      <th>作成者</th>
      <th>公開設定</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
    {% for comment in object_list %}
    <tr>
      <td>{{ comment.date }} </td>
      <td>{{ comment.title }}</td>
      <td>{{ comment.create_user}}</td>
      <td>{{ comment.get_is_public_display}} </td>
      {% if user.is_authenticated %}<!--ログインしているか-->
      {% if user.username == comment.create_user.username %}<!--自分のデータのときに編集・削除ボタン表示-->
      <td><a href="{% url 'update' comment.pk %}">編集</a>  </td>
      <td><a href="{% url 'delete' comment.pk %}">削除</a> </td>
      {% else %}<!--自分のデータではないとき編集・削除ボタン非表示-->
      <td> </td>
      <td></td>
      {% endif %}
      {% endif %}
      <td><a href="{% url 'detail' comment.pk %}">詳細</a> </td>
    </tr>
    {% empty %}
    <li>データがありません</li>
    {% endfor %}
  </table>

<!--データ登録ボタン-->
<a href="{% url 'create' %}">コメントの追加</a>

<!--ページングボタン-->
<div class="pagination">
    <span class="step-links">
        <!--前のページに戻る-->
        {% if page_obj.has_previous %}
            <!--テンプレートタグでページングにより検索条件が消えないようにURLを変更-->
            <a href="?{% url_replace request 'page' 1 %}">« 最初のページ</a>
            <a href="?{% url_replace request 'page' page_obj.previous_page_number %}">前のページ</a>
        {% endif %}
        <!--現在のページ／全体のページ-->
        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>
        <!--次のページに進む-->
        {% if page_obj.has_next %}
            <a href="?{% url_replace request 'page' page_obj.next_page_number %}">次のページ</a>
            <a href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">最後のページ »</a>
        {% endif %}
    </span>
</div>