

{% load replaceurl %} 
<h1>Members</h1>

<form class="d-flex" action="{% url 'list' %}" method="get">
    <input name="q" value = "{{ init }}" class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-primary" type="submit">Search</button>
</form>

<ul>
{% for member in object_list %}
    <li>
        {{ member.name }} - {{ member.age }}
        <a href="{% url 'update' member.pk %}">編集</a> <!-- 追加 -->
        <a href="{% url 'delete' member.pk %}">削除</a> <!-- 追加 -->

    </li>
{% empty %}
    <li>データがありません</li>
{% endfor %}
<a href="{% url 'create' %}">登録ページ</a>


<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?{% url_replace request 'page' 1 %}">« 最初のページ</a>
            <a href="?{% url_replace request 'page' page_obj.previous_page_number %}">前のページ</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?{% url_replace request 'page' page_obj.next_page_number %}">次のページ</a>
            <a href="?{% url_replace request 'page' page_obj.paginator.num_pages %}">最後のページ »</a>
        {% endif %}
    </span>
</div>